a:link,a:visited{
 text-decoration:none;  
 color:black;
}

#logo{
float:left;
    padding-top: 5px;
}
#car{
float:right;
margin-left:30px;
}
#xingxi{
    width: 1342px;
height:30px;
background-color:black;
}

#lp{
margin-left:25%;
}
#dingdang{
margin-left:42%;
padding-top: 5px;
}