.center{width:268px;margin-left:766px;padding-left: 93px;margin-top:-40px;text-align:center;}
.center01{width:268px;margin-left:579px;padding-left: 93px;margin-top:-40px;text-align:center;}
.Spinner .Amount{width:36px;height:17px;padding:4px 5px;line-height:17px;border-width:1px 0;border-style:solid;border-color:#d9d9d9;float:left;text-align:center;color:#565656;outline:0;}
.Spinner a{display:inline-block;width:25px;height:25px;border:1px solid #d9d9d9;background-color:#f7f7f7;float:left;cursor:pointer;outline:0;}
.Spinner a i{font-style:normal;background:url(../images/BuynBtn.png) no-repeat;display:block;width:9px;height:9px;margin:8px;text-indent:999999%;overflow:hidden;}
.Spinner .Decrease i{background-position:-9px -9px;}
.Spinner .Increase i{background-position:-9px -0px;}
.Spinner .DisDe i{background-position:-0px -9px;}
.Spinner .DisIn i{background-position:-0px -0px;}
#left{
float:left;
margin-left:140px;
padding-right:102px;
margin-top:10px;
}

.color{
margin-top:-40px;
}
.goumai{
margin-top: 60px;
}

#shangping{

width:1013px;
background-color:black;
height:50px;
margin-left: 141px;
margin-top: 73px;
}
#photointroduce{
margin-top: -42px;
margin-left:24px;
}
#shangping01{
width:1013px;
background-color:black;
height:50px;
margin-left: 141px;
margin-top: 175px;
}
#right{
	margin-top: 100px;
	
}
#xiangqing{
	    margin-left: 417px;
    margin-top: -15px;
}
