		.code{
background-image:url(111.jpg);
font-family:Arial,ו;
font-style:italic;
color:green;
border:0;
padding:2px 3px;
letter-spacing:3px;
font-weight:bolder;
}
.unchanged {
border:0;
 span { display:none; vertical-align:middle; margin-left:10px; padding-left:22px; padding-right:10px; background:url(../images/bg.png) -232px -63px no-repeat; }
 span.error { display:inline-block; border:1px solid #ff835a; background-color:#ffe8e0; }


}