h1{
background-color:gray;
text-align:center;
}
h2{
margin-left:30px;
}
.one{
margin-left:300px;
}
.two{
margin-top:40px;
margin-left:280px;
}
textarea{
margin-left:400px;
margin-top:-20px;
}
.three{
margin-left:400px;
margin-top:50px;
}