<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>per.sun.lol.web.servlet.HomeServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>per.sun.lol.web.servlet.DemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>per.sun.lol.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>per.sun.lol.web.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageHomeServlet</servlet-name>
    <servlet-class>per.sun.lol.web.servlet.manage.ManageHomeServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageHomeServlet</servlet-name>
    <url-pattern>/manageHome</url-pattern>
  </servlet-mapping>

  
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>per.sun.lol.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>LoginControlFilter</filter-name>
  	<filter-class>per.sun.lol.web.filter.LoginControlFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginControlFilter</filter-name>
  	<url-pattern>/manage/*</url-pattern>
  </filter-mapping>
  
  <resource-ref>
  	<res-ref-name>jdbc/lol</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>
